@import '../Color.scss', '../Mixins.scss';

footer {
    padding: 15px;
    background-color: $blue;

    a {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}