@import '../Color.scss', '../Mixins.scss';

footer {
    padding: 20px;
    background-color: $purple;
    text-align: center;

    a {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}