@import '../Color.scss', '../Mixins.scss';

.container-header {
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    background-image: url(https://kitwiissy.s3.amazonaws.com/adrian.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.container-select {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: $blue-bg;

    &:focus {
        outline: none;
    }
}

.image-country {
    width: 24px;
    margin: 0px 10px;
    vertical-align: middle;
}

ul li {
    list-style-type: none;
}

nav {
    >ul {
        float: right;

        >li {
            text-align: center;
            line-height: 40px;
            margin-left: 60px;
        }

        li ul li {
            width: 100%;
            text-align: left;
        }
    }

    ul li:hover {
        cursor: pointer;
        position: relative;

        > {
            ul {
                display: block;
            }

            .container-link-button {
                color: white;
                padding: 0 10px;
                border-radius: 50px;
                background-color: $dark-purple;
            }
        }
    }

    >ul>li {
        > .container-link-button {
            cursor: pointer;
            display: block;
            outline: none;
            width: 100%;
            text-decoration: none;
            transition: 0.5s;
        }

        float: left;
    }

    .container-link-button {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    >ul li ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 2000;

        li> .container-link-button {
            text-decoration: none;
        }
    }
}

[type="checkbox"],
label {
    display: none;
}

.row-header {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.text-column {
    height: auto;
    width: 400px;

    h1 {
        font-size: 55px;
        color: white;
        font-weight: bold;
    }
}

.image-column {
    height: auto;
}

.container-button {
    padding: 15px;
    border: none;
    background: $blue;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 140px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
    transition: .5s;

    &:focus {
        outline: 0;
    }

    &:hover {
        background: $dark-purple;   
    }
}

@include breakpoint(min-width, medium) {
    .column-header {
        flex: 1;
    }
}

@include breakpoint(max-width, large) {
    .container-header {
        height: auto;
    }

    .text-column {
        width: auto !important;
    }

    .container-link-button {
        color: $dark-purple !important;
        
        &:hover {
            background-color: transparent !important;
        }
    }
}

@include breakpoint(max-width, medium) {

    nav ul {
        display: none;
    }

    label {
        display: block;
        background: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;

        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 5px;
            background: white;
            margin: 7px 5px;
            box-shadow: 0px 10px 0px white, 0px 20px 0px white;
        }
    }

    [type="checkbox"]:checked~ul {
        display: block;
        z-index: 9999;
        position: absolute;
        background-color: white;
        border-radius: 30px;
        right: 20px;
        left: 20px;
    }

    nav {
        a {
            color: $blue-bg;
        }

        ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: left;
        }

        >ul {
            >li {
                margin-left: 0px;
            }

            li ul {
                li {
                    display: block;
                    float: none;
                }

                display: block;
                position: relative;
                width: 100%;
                z-index: 9999;
                float: none;
            }
        }
    }
}