@import '../Color.scss', '../Mixins.scss';

.hidden {
    display: none;
}

.header {
    width: 100%;
    height: 100vh;
    background: url(https://kitwiissy.s3.amazonaws.com/adrian.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;

    .menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-basis: auto;
        justify-content: center;
        align-items: center;

        &-item {
            &:not(:first-child) {
                margin-left: 2rem;
            }

            a {
                text-decoration: none;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                line-height: inherit;
                color: white;
                transition: 0.5s;

                &:hover {
                    color: $dark-purple;
                }
            }
        }
    }
}

.image-country {
    width: 24px;
    margin: 0px 10px;
    vertical-align: middle;
}

.container-select {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    color: $blue-bg;

    &:focus {
        outline: none;
    }
}

.row-header {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.text-column {
    height: auto;

    h1 {
        font-size: 55px;
        color: white;
        font-weight: bold;
    }
}

.image-column {
    height: auto;
}

.button-style {
    margin-top: 40px;
}

.container-button {
    padding: 15px 40px;
    text-decoration: none;
    border: none;
    background: $blue;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 140px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
    transition: .5s;

    &:focus {
        outline: 0;
    }

    &:hover {
        background: $dark-purple;
    }
}

@include breakpoint(min-width, medium) {
    .column-header {
        flex: 1;
    }
}

@include breakpoint(max-width, medium) {
    .header {
        width: 100%;
        height: 100vh;
        background: url(https://kitwiissy.s3.amazonaws.com/adrian.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navbar {
        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            background: #f4f4f4;
            transition: all 0.3s ease;

            .menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 25%;
                width: 100%;
                transform: translateY(-50%);

                &-item {
                    padding-bottom: 1rem;
                    width: 100%;
                    text-align: left;

                    &:nth-child(1) a {
                        transition-delay: 0.2s;
                    }

                    &:nth-child(2) a {
                        transition-delay: 0.3s;
                    }

                    &:nth-child(3) a {
                        transition-delay: 0.4s;
                    }

                    &:nth-child(4) a {
                        transition-delay: 0.5s;
                    }

                    &:not(:first-child) {
                        margin-left: 0;
                    }

                    a {
                        padding: 1rem 2rem;
                        opacity: 0;
                        color: $black-font-bg;
                        font-size: 18px;
                        font-weight: bold;
                        transform: translateX(-20px);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .nav-toggle {
            display: block;
            position: fixed;
            right: 1rem;
            top: 1rem;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            z-index: 999;

            span {
                display: block;
                width: 20px;
                height: 2px;
                background: #fff;
                border-radius: 2px;
                margin-left: 14px;

                &:nth-child(1) {
                    margin-top: 16px;
                }

                &:nth-child(2) {
                    margin-top: 4px;
                    opacity: 1;
                }

                &:nth-child(3) {
                    margin-top: 4px;
                }
            }
        }

        #nav:checked+.nav-toggle {
            transform: rotate(45deg);

            span {
                background: #333333;
                transition: transform 0.5s ease;

                &:nth-child(1) {
                    transform: translateY(6px) rotate(180deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-6px) rotate(90deg);
                }
            }
        }

        #nav:checked~.wrapper {
            z-index: 99;
            opacity: 1;

            .menu {
                &-item {
                    a {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}