.Section {
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
    -webkit-animation-name: Section;
    animation: Section infinite;
    -webkit-animation-duration: 12s;
    animation-name: Section;
    animation-duration: 12s;
}

.Section-header {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1em;
}

.Section-title {
    padding: 10px;
    font-size: 2em;
    color: white;
}

.Section-cell {
    display: table-cell;
    color: white;
}

.icons {
    width: 100px;
}

.icons-cloud {
    width: 42px;
}

.icons-ionic {
    width: 62px;
}

@keyframes Section {
    0% { background: #1D55FF; }
    25% { background: #0064FF; }
    50% { background: #2FD0C8; }
    75% { background: #00aaff; }
    100% { background: #1D55FF; }
  }
  
  @-webkit-keyframes Section {
    0% { background: #1D55FF; }
    25% { background: #0064FF; }
    50% { background: #2FD0C8; }
    75% { background: #00aaff; } 
    100% { background: #1D55FF; }
  }

@media (max-width: 600px) {
    .Section,
    .Section-cell {
        display: block;
    }
}