.Section {
    text-align: center;
    width: 100%;
}

.Section-header {
    background-color: blueviolet;
    height: 50px;
    padding: 10px;
}

.Section-title {
    font-size: 1.5em;
    color: white;
}

.Section-intro {
    background-color: blueviolet;
    padding: 20px;
    font-size: 1.2em;
    height: 150px;
    color: white;
}

ul {
    float: left;
    list-style: none;
}
