.Section {
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
    background-color: blueviolet;
}

.Section-header {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1em;
}

.Section-title {
    padding: 10px;
    font-size: 2em;
    color: white;
}

.Section-cell {
    display: table-cell;
    color: white;
}

@media (max-width: 600px) {
    .Section,
    .Section-cell {
        display: block;
        background-color: #00aaff;
    }
}