.Home {
  text-align: center;
}

.Home-header {
  height: 150px;
  padding: 20px;
  color: white;
  -webkit-animation-name: Animation;
  animation:  Animation infinite;
  -webkit-animation-duration: 7s;
  animation-name: Animation;
  animation-duration: 7s;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}
@keyframes Animation {
  0% { background: #673ab7; }
  25% { background: #00aaff; }
  50% { background: #ffc107; }
  75% { background: #e91e63; }
  100% { background: #673ab7; }
}

@-webkit-keyframes Animation {
  0% { background: #673ab7; }
  25% { background: #00aaff; }
  50% { background: #ffc107; }
  75% { background: #e91e63; } 
  100% { background: #673ab7; }
}