.Home {
  text-align: center;
}

.Home-header {
  background-color: #7230F4;
  height: 150px;
  padding: 20px;
  color: white;
  -webkit-animation-name: myfirst;
  -webkit-animation-duration: 6s;
  animation-name: myfirst;
  animation-duration: 6s;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}

.Home:hover {
  animation: myfirst 4s 2;
  -webkit-animation: myfirst 4s 2;
}

@keyframes myfirst {
  0% { background: #00aaff; }
  25% { background: #673ab7; }
  75% { background: #ffc107; }
  100% { background: #e91e63; }
}

@-webkit-keyframes myfirst {
  0% { background: #00aaff; }
  25% { background: #673ab7; }
  75% { background: #ffc107; }
  100% { background: #e91e63; } 
}