.Home {
  text-align: center;
  width: 100%;
}

.Home-header {
  padding: 20px;
  color: white;
  -webkit-animation-name: Animation;
  animation:  Animation infinite;
  -webkit-animation-duration: 12s;
  animation-name: Animation;
  animation-duration: 12s;
}

.Home-title {
  font-size: 2.5em;
}

.Home-intro {
  font-size: large;
}
@keyframes Animation {
  0% { background: #673ab7; }
  25% { background: #7410A9; }
  50% { background: #7D11B6; }
  75% { background: #620E8F; }
  100% { background: #673ab7; }
}

@-webkit-keyframes Animation {
  0% { background: #673ab7; }
  25% { background: #7410A9; }
  50% { background: #7D11B6; }
  75% { background: #620E8F; } 
  100% { background: #673ab7; }
}

.loco {
  color:rgb(81, 140, 235);
  color:#806CF0;
  color:#16F1B4;
  color:#2FD0C8;
  color:#BE06C5;
  color:#FF5533;
  color:#FF4423;
  color:#FDFD56;
  color: #1D55FF;
}