.Work {
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
    background-color: #1D55FF;
    margin-bottom: 20px;
}
.Work-title {
    font-size: 1.8em;
}
.Work-section {
    height: 150px;    
}

