$black-font: #1f2532;
$black-font-bg: #52616b;
$grey-font: #9aa9b9;
$blue: #00ddcd;
$blue-bg: #45b2e8;
$green: #3ecf8e;
$purple: #5C63EF;
$ligth-purple: #9a9aff;
$dark-purple: #464cbb;
$default-bg: #eef1f5;
$linkedin: #2867B2;
$medium: #03a87c;
$youtube: #FF0000;
