$black-font: #1f2532;
$grey-font: #9aa9b9;
$blue: #00ddcd;
$blue-bg: #0006FF;
$yellow: #ffaa00;
$red: #f33959;
$grey: #e6ebf1;
$purple: #56446f;
$dark-purple: #6000BF;
$light-purple: #b9b3f1;
$grey-bg: #eeecf0;
$white-dark: #f9fbfd;
$default-bg: #eef1f5;
